*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    font-size: 1rem;
    list-style: none;
}


body{
    background-color: red;
}


header{
    position: absolute;
    width: 90%; 
    display: flex; 
    padding: 1rem 1rem;
    justify-content: center;
    z-index: 100;
    
}

header .logo{
    margin-right: auto; 
}

header .nav-icons i{
    color: rgb(166, 207, 255);
    cursor: pointer;
}

header .navbar{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 9.5rem;
    top: 2.7rem;
    background-color: #fff;
    border-radius: 5px;
    margin-top: -3rem;

    font-family: Poppins-Medium; 
    z-index: -1;
}

header .active{
    display: flex;
}

header .fa-bars{
    display: none;
}

header .fa-xmark{
    display: none;
    transition:  .5s ease;
}

.active-window{
    display: none;
}


header .active1{
    display: block;
}

header .navbar li{
    padding:1rem;
    text-align: justify;
    text-transform: uppercase;
    margin-right: .2rem;
}

header .navbar li a{
    text-decoration: none;
    color: #777;
    
}

main{
    color: rgb(209, 234, 255);
    text-align: center; 
    padding-top: 7rem;
}

main h3{ 
    margin-bottom: 1.2rem;
}

main h1{
    font-size: 5rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 1rem;
}
main p {
    line-height: 1.5rem;
    padding: 1rem;
    
}
main .circle{
    display: flex;
    justify-content: center;
}

main .explore {
    height: 10rem;
    width: 10rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
}

main .explore  h3{
    color: #777;
    padding-top: 1rem ;
}


.home{
    max-width: 647px;  
    height: auto;   
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: scroll; 
    display: none;
    flex-direction: column;
}

.destination{
    display: none;
    flex-direction: column;
    background-image: url(./assets/destination/background-destination-mobile.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.destination .nav-dest{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.dest-desc{
    margin: 2rem 0;
}

.nav-dest h4:hover{
    color: #777;
    text-decoration: underline;
}

.dest{
    display: none;
}

.display-dest{
    display: block;
}
 

/* .engineer {
} */





.crew{ 
    max-width: 647px;  
    background-image: url(./assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: scroll;
    height: 100vh;  
    position: relative;  
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{ 
    display: none;
}

.main-active{ 
    display: flex;
}

/* .crew .level { 
    top:50%;
    left: 50%; 
    transform: translate(-50%,-50%); 
}   */

#crew .level i{ 
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}

#crew .level a{
    color: #fff;
}

#crew i:hover{ 
    font-weight: bolder;
    color: #777;
    
}

.crew-image img{ 
    width: 10rem; 
    height: 10rem;   
     border-bottom: 2px solid #333;
     margin-top: 1rem;
}

.description{  
    margin-top: 3rem;
}

 

.engineer{
    display: none;
    
}

.active-crew{ 
    display: block;
 
}

.level { 
     display: flex; 
    cursor: pointer;
    justify-content: start;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.fa-circle{ 
    width: 1rem;
    height: 1rem;
    padding: .4rem 0.1rem;
    margin: 0 .1rem;
    cursor: pointer;
    z-index: 10;
    transition: 1s all;
}

.details{
    border-top: 2px solid #333;
    padding-top: 1rem;
    margin: 1rem;
    display: none; 
}

.show-detail{
    display: block;
}
/* @media (min-width:640px){
    body{
        display: none;
    }
}      */