*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    font-size: 1rem;
    list-style: none;
}

  

header{
    position: absolute;
    width: 90%; 
    display: flex; 
    padding: 1rem 1rem;
    justify-content: center;
    z-index: 100;
    
}

header .logo{
    margin-right: auto; 
}

header .nav-icons .fa-bars{
    color: rgb(166, 207, 255);
    cursor: pointer;
}

header .navbar{
    display: none;
    width: 100%; 
    position: absolute;
    left: 1%;
    top: 2.7rem;
    background-color: rgba(255,255, 255, 0.801);
    border-radius: 5px;
    margin-top: -3rem; 
    z-index: -1;
    color: blue;   
}

header .active{
    display: flex;
}

header .fa-bars{
    display: none;
}

header .fa-xmark{
    display: none;
    transition:  .5s ease;
    color: #fff;
}

.active-window{
    display: none;
}


header .active1{
    display: block;
}

header .navbar li{
    padding:1rem;
    text-align: justify;
    text-transform: uppercase;
    margin-left: 50%;
}

header .navbar li a{
    text-decoration: none;
    color: rgba(8, 8, 32, 0.671);
    font-weight: 600;
    text-align: center;
     
}

main{
    color: rgb(209, 234, 255);
    text-align: center; 
    padding-top: 7rem;
}

main h3{ 
    margin-bottom: 1.2rem;
}

main h1{
    font-size: 5rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 1rem;
}
main p {
    line-height: 1.5rem;
    padding: 1rem;
    
}
main .circle{
    display: flex;
    justify-content: center;
}

main .explore {
    height: 10rem;
    width: 10rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.6);
    
}

main .explore  h3{
    color: #777;
    padding-top: 1rem ;
}


.home{  
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    display: none;
    flex-direction: column;
}

.destination{
    height: 100vh;
    display: none;
    flex-direction: column;
    background-image: url(./assets/destination/background-destination-mobile.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.destination .nav-dest{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.dest-desc{
    margin: 2rem 0;
}

.nav-dest h4:hover{
    color: #777;
    text-decoration: underline;
}

.dest{
    display: none;
}

.display-dest{
    display: block;
}
 

/* .engineer {
} */





.crew{  
    height: 100vh;
    background-image: url(./assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;  
    display: none;
    flex-direction: column;  
    
}

.display{ 
    display: none;
}



  .crew .level { 
   display: flex;
   justify-content: center;
   margin: 2rem 0;
}   

#crew .level i{ 
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}

#crew .level a{
    color: #fff;
}

#crew i:hover{ 
    font-weight: bolder;
    color: #777;
    
}

.crew-image img{ 
    width: 10rem; 
    height: 10rem;   
     border-bottom: 2px solid #333;
     margin-top: 5rem;
}

.crew-image{ 
    display:none;
}

.description{  
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: none;
}

.display-desc{
    display: block;
}

 

 

.active-crew{ 
    display: block;
 
}

.level { 
     display: flex; 
    cursor: pointer;
    justify-content: center; 
    

}

.fa-circle{ 
    width: 1rem;
    height: 1rem;
    padding: .4rem 0.1rem;
    margin: 0 .1rem;
    cursor: pointer;
    z-index: 10;
    transition: 1s all;
}

.details{
    border-top: 2px solid #333;
    padding-top: 1rem;
    margin: 1rem;
    display: none; 
}

.show-detail{
    display: block;
}

.display-t{
    display: flex;
}

.techno {
    height: 100vh;
    background-image: url(./assets/technology/background-technology-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    overflow: scroll; 
    
}

 

.tech-img{ 
    margin: 1rem 0;
    display: none;
}

.tech-img img{
    width: 100%;
}

.nav-tech{
    display: flex;
    justify-content: center;

}

.nav-tech .nbr{
    height: 2rem;
    width: 2rem; 
    border: 2px solid #fff;
    color: #fff; 
    border-radius: 50%; 
    position: relative;
    margin: 2.5rem 0;
    margin-right: .5rem;

}

.nav-tech .nbr:hover{
    background-color: #fff;
    color: #000;
}

.nav-tech .nbr p {
    position: absolute;
    bottom: -40%;
    left: -10%;
}

.tech-desc{
    margin-bottom: 2rem;
    display: none;
}

.tech-desc h6{
    font-weight: 300;
    font-size: 10px;
}

.tech-desc h3{
    font-size: 1.5rem; 
    font-weight: 600;
}

.tech{
    display: block;
}

.display-tech{
    display: block;
}

.main-active{ 
    display: flex;
}

 
 



@media (min-width:920px){
    body{
        background-color: #333;
    }

header{
    display: flex; 
} 

header .navbar{ 
    display: flex;
    position: relative;
    left: 23%; 
    margin-right: 10rem;
    height: 4rem;
    justify-content: space-between;
     align-items: center;
     width: 62%;
     background-color: rgba(255,255,255,0.1);
     z-index: 10;
}

#nav-icons{
    display: none;
}

header .navbar ul{
    margin: 0;
    display: flex;
    font-size: 16px;
    padding: 0 1rem;
}

header .navbar ul::after{
    content: '';
    height: 1px;
    width: 50%;
    background-color: #fff;
    position: absolute;
    right: 98%;
    top: 50%;
    z-index: 0;
    
}

header .navbar li{
    padding:1rem;
    text-align: justify;
    text-transform: uppercase;
    margin-left: 1%;
}

header .navbar ul li a{ 
    font-size: 1rem;
    color: #fff;
    margin-right: 2rem;
} 
 
.home{ 
    flex-direction: row; 
    align-items: start;
    justify-content: space-between;
    padding-top: 10rem;
}

.home p {
    position: absolute;
    left: 10%;
}
 

.home-desc{
    width: 30%;
    text-align: justify;
    margin-left: 10rem;
}
.circle{
    margin-right: 10rem;
}

.crew-desc{
    text-align: justify;
    margin-left: 5rem;
    width: 70%;
}

.crew-desc h3{
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.crew-desc h4:first-child{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #777;
}

.crew-desc h4:nth-child(2){
    margin-left: 1rem;
    font-size: 1.7rem;
    color: #fff;
}
.engineer{
    width: 30%;
}

.description p{
    position: absolute;
    left: 6%;
}

.crew-image {
    position: absolute;
    left: 60%;
    bottom: -1%;
}

.crew-image img{ 
    width: 25rem; 
    height: 25rem;   
     border-bottom: 2px solid #333;
     margin-top: 5rem;
}

.level {
    position: absolute;
    bottom: 5%;
    left: 12%;
} 


.destination .dest-img{
    position: absolute;
    left: 60%;
}
.destination .nav-dest{
    position: absolute;
    left: 80%;
    top: 25%;
    display: flex;
}

.destination .nav-dest h4{
    margin-right: .5rem;
}

.destination h2{
    position: absolute;
    left: 5%;
}


.destination p{
    position: absolute;
    left: 3.8%;
    top: 40%;
    width: 40%;
    text-align: justify;
}


.destination .show-detail{
    position: absolute;
    left: 3.8%;
    top: 65%;
    width: 40%; 
    display: flex;
    justify-content: space-between;
}
 

.destination h1{
    position: absolute;
    left: 5%;
}

.dest img{
    width: 20rem;
    height: 20rem;
    margin-top: 4rem;
    margin-left: -7rem;
}

.tech-img img{
    width: 25rem;
    height: 15rem;
    position: absolute;
    right: 7%;
}

.techno .nav-tech{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    left: 10%;
    top: 30%;
}

.techno .nav-tech .nbr{
    position: absolute; 
}

.techno .nav-tech .nbr:first-child{
    top: 1rem;
}

.techno .nav-tech .nbr:nth-child(2){
   top: 4rem;
}

.techno .nav-tech .nbr:last-child{
    top: 7rem; 
}
.techno h3,h6,p{
    text-align: justify;
    position: absolute;
    left: 15%;
    width: 40%;
}

.techno h2{
   position: absolute;
   left: 10%;
   font-size: 2rem;
}

.techno h3{
    top: 40%;
    left: 16%;
    font-size: 3rem;
}

.techno .tech-desc  p {
    top: 60%;
}

.techno .tech-desc  h6 {
    top: 40%;
    left: 16%;
}

.home,
.crew,
.destination,
.techno{
    height: 78vh;
    overflow: hidden;
}

.home {
    height: 70vh;
}


} 


 